# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# IDE / OS
# ==============================
.vscode/
.idea/
.DS_Store

# ==============================
# MLflow
# ==============================
mlruns/

mlflow.db

# ==============================
# Generated artifacts
# ==============================
models/


# ==============================
# Python tooling
# ==============================
.pytest_cache/
.coverage
htmlcov/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Logs
# ==============================
*.log